<div *ngIf="isTicket">
  <div class="ticket-section">
    <h2 class="section-title">Tickets Assignés</h2>
    <div class="card-container">
      <mat-card *ngFor="let ticket of tickets" class="ticket-card">
        <mat-card-content>
          <div class="ticket-details">
            <p><strong>Date d'ouverture :</strong> <span class="ticket-date">{{ ticket.dateOuverture | date:'dd MMMM yyyy' }}</span></p>
            <p><strong>Description :</strong> {{ ticket.description }}</p>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" (click)="goToPanneSignale(ticket.id)">Voir la panne Signalé</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>

<mat-card-actions *ngIf="!isTicket">
  <button mat-raised-button color="primary" (click)="goToTickets()">Voir Les Tickets Assignés</button>
</mat-card-actions>

<div *ngIf="isSignalPanne">
  <div class="signalPanne-section">
    <h2 class="section-title">Panne signalée</h2>
    <div class="signalPanne-card">
      <mat-card-content>
        <div class="signalPanne-details">
          <p><strong>Date Signal :</strong> <span class="signalPanne-date">{{ signalPanne.dateEnregistrement | date:'dd MMMM yyyy' }}</span></p>
          <p *ngIf="!isChangeEtat"><strong>État :</strong> {{ signalPanne.etat }}</p>
        </div>
        <mat-card-actions *ngIf="!isChangeEtat">
          <button mat-raised-button color="primary" (click)="showFormEtat()">Changer État</button>
          <button mat-raised-button color="accent" (click)="goToEquipement()">Voir l'équipement</button>
        </mat-card-actions>
        <form *ngIf="isChangeEtat" [formGroup]="etatForm" (ngSubmit)="updateEtat()" class="etat-form">
          <mat-form-field class="form-field">
            <mat-label>État</mat-label>
            <input matInput formControlName="etat" required />
            <mat-error *ngIf="etatForm.get('etat')?.hasError('required')">
              L'état est requis
            </mat-error>
          </mat-form-field>
          <button mat-raised-button color="primary" type="submit" [disabled]="etatForm.invalid">Modifier État</button>
        </form>
      </mat-card-content>
    </div>
  </div>
</div>

<div class="equipement-section" *ngIf="isEquipement">
  <h2 class="section-title">Équipement Signalé</h2>
  <div class="equipement-card-wrapper">
    <mat-card class="equipement-card">
      <mat-card-header>
        <mat-card-title>{{ equipement.nom }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="image-container">
          <img mat-card-image [src]="equipement.picture" alt="Image de l'équipement">
        </div>
        <p><strong>Marque :</strong> {{ equipement.marque }}</p>
        <p><strong>Modèle :</strong> {{ equipement.modele }}</p>
        <p><strong>Date Achat :</strong> <span class="equipement-date">{{ equipement.dateAchat | date:'dd MMMM yyyy' }}</span></p>
        <p><strong>État :</strong> {{ equipement.etat }}</p>
        <p><strong>Date Dernière Réparation :</strong> <span class="equipement-date">{{ equipement.dateDerniereReparation | date:'dd MMMM yyyy' }}</span></p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
