<mat-toolbar class="custom-toolbar">
  <div class="nav-content">
    <a mat-button routerLink="/"><img style="width: 120px" src="./assets/pictures/logo_JB.png"></a>
    <div *ngIf="!isLoggedIn">
      <a mat-button routerLink="/logIn">Se connecter</a>
      <a mat-button routerLink="/signUp">S'inscrire</a>
    </div>
    <div *ngIf="isLoggedIn">
      <p>Hello {{userName}}</p>
    </div>
    <div *ngIf="isLoggedIn">
      <a mat-button (click)="logout()">Se déconnecter</a>
    </div>
  </div>
</mat-toolbar>
