.custom-toolbar {
  background-color:#6c757d;
  color: #ffffff;
  padding: 20px 30px;
  height: max(80px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.toolbar-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.logo{
  padding-top:10px;
}
.logo img {
  width: 100px;
  height: auto;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links a {
  color: #ecf0f1;
  margin-left: 20px;
}

.nav-links a:hover {
  color: #3498db;
}

.user-info {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.user-icon {
  font-size: 24px;
  margin-right: 10px;
}

.mat-icon {
  color: #ecf0f1;
}
.auth a {
  color: white;
  text-decoration: none;
  transition: all 0.3s ease;
}

.auth a  {
  gap: 10px;
}


.auth {
  margin-left: 60px;
}

.auth a:hover {
  color: #fff8d1;
}
