.nav-content {
  margin: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.nav-content a img{
  padding-top: 22px;
}
.custom-toolbar {
  background-color: rgba(0, 0, 0, 0.81);
  height: 100px;
  margin: 0px;
}

a[mat-button] {
  font-weight: bold;
  color: white;
  text-decoration: none;
}

button[mat-button] {
  color: white;
}
