.custom-toolbar {
  background-color:khaki;
  color: #ffffff;
  padding: 20px 30px;
  height: max(110px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.toolbar-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.logo{
  padding-top:10px;
}
.logo img {
  width: 120px;
  height: auto;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links a {
  color: #ecf0f1;
  margin-left: 20px;
}

.nav-links a:hover {
  color: #3498db;
}

.user-info {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.user-icon {
  font-size: 24px;
  margin-right: 10px;
}

.mat-icon {
  color: #ecf0f1;
}
