<mat-toolbar class="custom-toolbar">
  <div class="toolbar-content">
    <a mat-button class="logo">
      <img src="./assets/pictures/logo.png" alt="Logo">
    </a>
    <div class="nav-links">
      <div class="auth d-flex align-items-center justify-content-center" *ngIf="!isLoggedIn">
        <a mat-button routerLink="/logIn">
          <span class="material-icons">login</span> Se connecter
        </a>
        <a mat-button routerLink="/signUp">
          <span class="material-icons">person_add</span> S' inscrire
        </a>
      </div>
      <ng-container *ngIf="isLoggedIn">
        <div class="user-info">
          <mat-icon class="user-icon">account_circle</mat-icon>
          <span>{{ userName }}</span>
        </div>
        <a mat-button (click)="logout()">Se déconnecter</a>
      </ng-container>
    </div>
  </div>
</mat-toolbar>
